.appContainer {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 300px 1fr;

  .sidebarCard{
    padding: 15px;
    p{
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.content{
  display: flex;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.team{
  background: lightgreen;
  flex-basis: 80%; 
  .itemTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    background: #fff;
    border: 1px solid #ddd;
  }
  .teamItem{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  img{
    width: 60px;
    border-radius: 100%;
    padding: 15px 10px 15px 10px;
  }
  .itemPlayers{
    display: flex;
    justify-content: space-around;
  }
}

.coach{
  background: #eee;
  flex-basis: 20%;
  text-align: center;
  padding: 20px 5px 5px 5px;
  img{
    width: 60px;
    border-radius: 100%;
  }
}

.playerImg{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.playerContainer{
  display: flex;
  justify-content: space-between;
  &:hover{
    cursor: pointer;
  }
}

.playerDetail{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px 5px 0;
}

.playerPosition{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.playerList{
  max-height: 432.5px;
  overflow: auto ;
}

.coachContainer{
  border: 1px solid #eee;
  border-radius: 10px;
}

.close{
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
}