<div class="appContainer">
  <div>
    <mat-card class="sidebarCard">
      <p >Selecciona tu equipo</p>
      <mat-form-field>
        <mat-label>Selecciona un equipo</mat-label>
        <mat-select>
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}} 
            <img style="width: 20px;" src="{{ country.logo }}" alt="flag">
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
  <div class="content">
    <div class="team">
      
    </div>
    <div class="coach">
      <div>
        <img src="./assets/user.png" alt="coach">
        <p>
          Zidane
        </p>
      </div>
    </div>
  </div>
</div>