<section class="coachContainer">
  <input [(ngModel)]="coachInput" placeholder="buscar coach" (keydown)="searchCoach($event)">

  <div class="coachItemContainer" *ngIf="showCoachs">
    <ul *ngFor="let coach of coachs">
      <li (click)="selectCoach(coach)">
        {{ coach.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="showCoach" class="selectCoachContainer">
    <img src="{{ coach?.photo }}" alt="{{ coach?.name }}" />
    <div class="playerDetails">
      <div> <label id="coachName">Nombre: </label> {{ coach?.name }} </div>
      <div> <label>Edad: </label> {{ coach?.age }} </div>
      <div> <label>Nacionalidad: </label> {{ coach?.nationality }} </div>
      <button *ngIf="!savedCoach && coach" (click)="saveCoach(coach)"> Contratar </button>
    </div>
  </div>
  <section *ngIf="msgValidationCoach" class="validateCoachContainer">
    <h2> Atención! </h2>
    <p> No puede contratar más técnicos </p>
    <button (click)="deleteCoach()"> Despedir técnico actual </button>
  </section>
  <section *ngIf="savedCoach" class="savedCoachContainer">
    <h2>Felicidades!</h2>
    <p> Has contratado a {{ coach?.name }} </p>
  </section>
</section>