<div class="content">
  <section class="leagueContainer">
    <div>
      <input placeholder="buscar liga" (keyup)="searchLeagues($event)">
      <div class="leagueItemContainer" *ngIf="showLeagues">
        <ul *ngFor="let league of leagues">
          <li (click)="selectLeague(league)">
            {{ league.name }} {{ league.country }}
          </li>
        </ul>
      </div>
      <div *ngIf="showSelectedLeague">
        <label>Liga seleccionada: </label>
        {{ selectedLeague.name }} de {{ selectedLeague.country }}
      </div>
    </div>
    <div>
      <input placeholder="buscar jugador" (keyup)="searchPlayers($event)">
    </div>
  </section>
  
  
  <section class="playerContainer">
    <div>
      <section class="selectPlayerContainer" *ngIf="showPlayer">
        <img src="{{ player.photo }}" alt="{{ player.name }}" />
        <div class="playerDetails">
          <div> <label>Nombre: </label> {{ player.name }} </div>
          <div> <label>Edad: </label> {{ player.age }} </div>
          <div> <label>Nacionalidad: </label> {{ player.nationality }} </div>
          <div> <label>Posición: </label> {{ player.position }} </div>
          <div> <label>Equipo: </label> {{ player.teamName }} </div>
          <button (click)="savePlayer()" *ngIf="!savedPlayer"> Fichar </button>
        </div>
      </section>
      <section *ngIf="savedPlayer" class="savedPlayerContainer">
        <h2>Felicidades!</h2>
        <p> Has fichado a {{ player.name }} </p>
        <button (click)="cleanAllState()"> Fichar otro jugador </button>
      </section>
    </div>
  </section>
</div>