.appContainer {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 300px 1fr;

  .sidebarCard {
    padding: 15px;

    p {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.content {
  display: flex;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.team {
  flex-basis: 80%;
  .teamItem {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  img {
    width: 60px;
    border-radius: 100%;
    padding: 15px 10px 15px 10px;
  }

  .itemPlayers {
    display: flex;
    justify-content: space-around;
    background: lightgreen;
  }
}

.itemTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  background: #fff;
  border: 1px solid #ddd;
}

.coach {
  position: relative;
  background: #eee;
  flex-basis: 20%;
  text-align: center;
  padding: 20px 5px 5px 5px;

  img {
    width: 60px;
    border-radius: 100%;
  }
}

.playerImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.playerContainer {
  display: flex;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }
}

.playerDetail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px 5px 0;
}

.playerPosition {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.playerList {
  max-height: 432.5px;
  overflow: auto;
}

.coachContainer {
  border: 1px solid #eee;
  border-radius: 10px;
}

.coachItem{
  margin-top: 10px;
}

.close {
  position: absolute;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.itemName {
  display: flex;
  margin: -15px 0 0 6px;
  font-weight: bold;
}

.btnSave{
  position: absolute;
  bottom: 1px;
  left: 0;
  background: #eee;
  color: #000;
  min-width: 100%;
  margin: auto;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  &:hover{
    cursor: pointer;
    background: gray;
    color: #fff;
  }
}
.validation{
  background: red;
  color: #fff;
  padding: 10px;
}
.success{
  background: green;
  color: #fff;
  padding: 10px;
}